h1 {
  color: #502050;
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;
  font-size: 60px;
  padding-top: 70px;
  padding-right: 300px;
  margin-left: 200px;
  margin-top: 80px;
}

body {
  font-family: 'League Spartan', sans-serif;
  font-size: 20px;
}

 img {
  border-radius: 2em;
  margin-right: 20px;
  width: 50px;
 }

.firstParagraph {
  color: #937B92;
  margin-left: 200px;
  padding-right: 250px;
}

.rating {
  margin-top: 150px;
  color: #502050;
  font-weight: 500;
}

.secondRow {
  margin: 0 200px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.card {
  margin-top: 2em;
  padding: 40px;
  border-radius: 0.5em;
  background-color: #502050;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card .card-header {
  color: white;
  font-weight: 700;
  font-size: 1em;
  margin-top: 10px;
  height: 40px;
}

.card .card-title {
  color: #EE68A4;
  font-size: 0.8em;
  margin-top: 0;
  margin-left: 70px;
}

.card .card-text {
  color: white;
  margin-bottom: 10px;
  margin-top: 30px;
  font-weight: 400;
  font-size: 0.9em;
}

.col-lg-4 {
  width: 430px;
  height: 350px;
  padding-left: 0;
  padding-right: 0;
}

.rectangle {
  height: 50px;
  width: 480px;
  background-color: #F7F2F7;
  border-radius: 0.5em;
}

.rectangleSpacing {
  margin-left: 50px;
  margin-top: 15px;
}

.rectangleTwo {
  margin-left: 60px;
}

.rectangleThree {
  margin-left: 120px;
}

.secondCard {
  margin-top: 20px;
}

.thirdCard {
  margin-top: 40px;
}
